<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <!-- Montserrat & roboto font -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li> 
          <a href="">Joshua Duke</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/blogs">Posts</a>
        </li>
        <li>
          <a href=""> Sign In</a>
        </li>
      </ul>
    </nav>
  </header>
