<%- include ("partials/header.ejs") %>


<h1>Add new blog post</h1>

<div class="container" id="form_new">
  <form action="/blogs" method="POST">
    <div>
      <label>Title:</label>
      <input type="text" name="blog[title]" placeholder="Web Development" required>
    </div>

    <div>
      <label for="">Image:</label>
      <input type="text" name="blog[image]" placeholder="image">
    </div>

    <div>
      <label>Post content</label>
      <textarea name="blog[body]" placeholder="insert content here" required></textarea>
    </div>

    <div>
      <label>Tags</label>
      <input type="text">
    </div>
    <input type="submit">

  </form>
</div>


<%- include ("partials/footer.ejs") %>